# Dataset (do not upload large files)
dataset/
data/
images/

# Secrets
kaggle.json

# Kaggle config paths
.config/kaggle/
.kaggle/

# Generated outputs
samples/
*.png
*.jpg

# Model checkpoints
*.pt
*.pth

# Python cache
__pycache__/
*.pyc

# Jupyter / Colab
.ipynb_checkpoints/

# Environment
.env
